<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Famotors</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons --> 
  <link href="{% static 'base/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'base/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'base/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- Template Main CSS File -->
  <link href="{% static 'base/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#"><span>Famotors </span></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Inicio</a></li>
          <li><a href="#about">Sobre Nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="drop-down"><a href="">Clientes</a>
            <ul>
              <li><a href="#">Ingresar</a></li>
            </ul>
          </li>
          <li>
            <a href="https://wa.link/6eo6j7" target="_blank" class="get-started-btn scrollto">Chatea con nosotros</a>
          </li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Famotors<span>.</span></h1>
          <h2>Expertos en Mecánica Automotriz</h2>
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="fas fa-car"></i>
            <h3><a href="">Mecánica</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="fas fa-tools"></i>
            <h3><a href="">Repuestos</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <i class="fas fa-hammer"></i>
            <h3><a href="">Tuning</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <i class="fas fa-shopping-cart"></i>
            <h3><a href="">Compra Venta</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'base/assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Somos un taller automotriz con más de 15 años de experiencia en el mercado.</h3>
            <p class="font-italic">
              Nos caracteriza la calidad, responsabilidad y cumplimiento en cada uno de nuestros proyectos.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Nos especializamos en multimarcas.</li>
              <li><i class="ri-check-double-line"></i> Reparación de motor, suspensión, frenos, alineación y mucho más.</li>
            </ul>
            <p>
              Creemos en lo que hacemos y aseguramos nuestro trabajo, por esto siempre ofrecemos garantía de nuestras intervenciones.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
          <img src="{% static 'base/assets/img/clients/client-1.png' %}" alt="">
          <img src="{% static 'base/assets/img/clients/client-2.png' %}" alt="">
          <img class="mt-3" src="{% static 'base/assets/img/clients/client-3.png' %}" alt="">
          <img class="mt-4" src="{% static 'base/assets/img/clients/client-4.png' %}" alt="">
          <img class="mt-4" src="{% static 'base/assets/img/clients/client-5.png' %}" alt="">
          <img class="mt-4" src="{% static 'base/assets/img/clients/client-6.png' %}" alt="">
        </div>

      </div>
    </section><!-- End Clients Section -->

  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Nuestros Servicios</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-balance-scale"></i></div>
              <h4><a href="">Alineación - Balanceo</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-toolbox"></i></div>
              <h4><a href="">Mecanica General</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-people-arrows"></i></div>
              <h4><a href="">Asesoria Personalizada</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Puesta a Punto</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-car"></i></div>
              <h4><a href="">Perapración Carreras</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-info-circle"></i></div>
              <h4><a href="">Otros</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Chatea con Nosotros</h3>
          <p> Nos interesa crear relaciones de valor con nuestros clientes <br> por este motivo habilitamos un chat para resolver todas tu dudas</p>
          <a class="cta-btn" href="https://wa.link/6eo6j7" target="_blank">Iniciar Chat</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Nuestros Logros</h3>
              <p>
                A lo largo de estos años, demostramos nuestra pasión por los vehiculos, acá mostramos algunos logros que hemos obtenido en este camino.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span> +200</span> 
                    <p><strong>Clientes felices</strong> que confian en nuestro trabajo</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span> + 600 </span>
                    <p><strong>Proyectos</strong> Ejecutados exitosamente</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time"></i>
                    <span data-toggle="counter-up">20</span>
                    <p><strong>Años de experiencia</strong> demostrando en cada trabajo nuestro valor</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award"></i>
                    <span> +10</span>
                    <p><strong>Premios</strong> preparando a los mejores autos para competencia</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials" hidden>
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{% static 'base/assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'base/assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'base/assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'base/assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'base/assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Contactanos</p>
        </div>

        <div>
          <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Cl.%2023,%20La%20Ceja,%20Antioquia&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://embedgooglemap.net/maps/63"></a><br><style>.mapouter{position:relative;text-align:right;height:300px;width:1080px;}</style><a href="https://www.embedgooglemap.net">google maps html generator</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:1080px;}</style></div></div>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Ubicacion:</h4>
                <p>Cl. 23 #2037, La Ceja, Antioquia</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>famotorsco@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Celular:</h4>
                <p>+57 315 427 0503</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'base:contact' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Por favor ingresa al menos 4 caracteres" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Por favor, ingresa un correo valido" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Por favor, ingresa al menos 8 caracteres de asunto" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor, escribenos algo sobre tu solicitud" placeholder="Mensaje"></textarea>
                <div class="validate"></div>
              </div>

              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <button class="get-started-btn scrollto" type="submit"> Enviar </button>
            </form>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Famotors<span>.</span></h3>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <p>
                Cl. 23 #2037, <br> 
                La Ceja, Antioquia<br><br>
              </p>
            </div>
          </div>

          
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <p>
                <strong>Cel:</strong> +57 315 427 0503<br>
                <strong>Email:</strong> famotorsco@gmail.com <br>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">

              <div class="social-links text-center">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/famotors_co/?hl=es-la" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved Famotors
      </div>
      <div class="credits">
        Designed by <a href="">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div class="ro">
    <div class="col">
      <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    </div>

    <div class="col">
      <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    </div>
  </div>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'base/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'base/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'base/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'base/assets/js/main.js' %}"></script>

</body>

</html>


